@model LoginViewModel

<div class="card m-auto col-md-7 border-0">

    <h1 class="card-title text-center">Вхід в особистий кабінет</h1>
    <div class="card-body">
        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div class="form-floating">
                <label class="card-text" asp-for="UserName">
                </label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-floating">
                <label class="card-text" asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div >
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div>
                <input class="btn btn-primary"  type="submit" value="Вхід" />
            </div>
        </form>
    </div>
</div>  