



<div class="card border-0 mt-5 text-danger" >
    <div class="card-body">
        <div class="card-title text-center">
            <h1>Наші контакти</h1>
        </div>
        <div class="card-text text-center">
            <h5>Електронна пошта : vlada.shevan@gmail.com</h5>
            <h5>Телефон : +380936882331</h5>
            <h5>Контактна особа : Владислава Шевченко</h5>

        </div>
    </div>

</div>

