@{
    ViewData["Title"] = "Home Page";
}

<div class="" style="color:purple">
    <div class="card border-0">
        <div class="card-body">
            <h3 class="card-title text-lg-left">
                Ukrcast — це провідна мережа реклами подкастів, яка пов’язує компанії та бренди з одними з
                найулюбленіших українських подкастів.
            </h3>
          
        </div>
    </div>

    <div class="card mt-4 border-0">
        <div class="card-body">
            <h5 class="card-text">
                <div class="text-center">
                    Для подкастерів<br />
                </div>
               
                Ми хочемо, щоб ви зосередилися на тому, що у вас виходить найкраще — створювати чудові подкасти.
                Ми у свою чергу підберемо для вас найкращих рекламодавців.
            </h5>
           
        </div>
    </div>

    <div class="card mt-4 border-0">
        <div class="card-body"> 
            <h5 class="card-text">
                <div class="text-center">
                    Для рекламодавців <br />
                </div>
                Оберіть подкасти, у яких ви хочете замовити рекламу, пропишіть рекламне повідомлення та слухайте
                рекламу свого бренду в улюбленому подкасті. За дослідженням Nielsen, реклама у подкастах в 4,4
                рази ефективніша за інші традиційні види реклами (банерну, текстову та телевізійну).
            </h5>
        </div>
    </div>

</div>
